<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Error</title>
<script type="text/javascript">
</script>
</head>
<body>
<p>Opps! Something went wrong!!</p>
    <% if(typeof err != 'undefined') { %>
        <p><%= err %><p>
    <% }; %>
</body>
</html>
