<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Oauth2 Authentication</title>
    <script type="text/javascript">
        //Store data receved from service in this page variables.
        function setParam() {
            var token = "<%= token %>";
            var access_token = "<%= user.accessToken %>";
            //Convert object into string.
            var user = <%- JSON.stringify(user)%>

                //Create param JSON which contain token and user information
                var params = {
                    'token': token,
                    'access_token': access_token,
                    'user': user
                };

            //Setting authentication data in html element so as to read from the parent window.
            //This is done for InAppBrowser implementation in ionic app
            document.getElementById("authData").setAttribute("value", JSON.stringify(params));

            //If windows opener object available then send data to parent window by calling postMessage
            //postMessage will triger the 'message' even at parent. This may not work for ionic app but works well
            //with dekstop browsers
            if (window.opener) {
                window.opener.postMessage(params, "*");
                window.close(); //Close window once message is passed. This may not work as some browser dont allow this.
            }
        }
    </script>
</head>

<body onload="setParam()">
    <p>Authenticating with third party...</p>
    <input type="hidden" id="authData" value="">
</body>

</html>
