<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <base href="/">
        <title>PlaceCus</title>
        <script src="js/lib/bootstrap.min.js"></script>
        <link href="stylesheets/lib/bootstrap.min.css" rel="stylesheet">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
            .navbar {
                background-color: #d63e3e;
            }

        </style>
    </head>
    <body>
        <nav class="navbar navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" style="color:white" href="#">PlaceCus.com</a>
                </div>
            </div>
        </nav>

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
              <!-- Display message passed from server. Also tells registration was successfull or failed -->
              <% if (message) { %>
                  <h1 style="color: <% if (success) { %> darkgreen <% } else { %> crimson <% } %> "><%= message.title %>
                  </h1>
                  <p><%= message.body %></p>
              <% } %>
          </div>
            <!-- data container to ocupy space -->
            <div class="container"></div>
            <!-- footer container -->
            <div class="container">
                <hr>
                <footer class='footer'>
                    <p>&copy; Placecus.com</p>
                </footer>
            </div>
        </body>

    </html>
