<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <base href="/">
        <title>PlaceCus</title>
        <script src="js/lib/bootstrap.min.js"></script>
        <script src="js/lib/angular.min.js"></script>
        <script src="js/app.js"></script>
        <link href="stylesheets/lib/bootstrap.min.css" rel="stylesheet">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
            .navbar {
                background-color: #d63e3e;
            }

        </style>
    </head>
    <body ng-app="app" ng-controller="forgotPwdCtrl">
        <nav class="navbar navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" style="color:white" href="#">PlaceCus.com</a>
                </div>
            </div>
        </nav>

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <!-- Display message passed from server. Also tells registration was successfull or failed -->
                <% if (message) { %>
                    <h1 style="color: <% if (success) { %> darkgreen <% } else { %> crimson <% } %> "><%= message.title %>
                    </h1>
                    <p><%= message.body %></p>
                <% } %>

                <% if (success) { %>
                    <div ng-show="showForm">
                        <div class="form-group">
                            <label for="usr">Password</label>
                            <input type="password" class="form-control" id="pwd" ng-model="pwd">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Retype Password</label>
                            <input type="password" class="form-control" id="pwdRetype" ng-model="retypedPwd">
                        </div>
                        <button ng-click="reset()" class="btn btn-default">
                            <span data-ng-hide="isLoading">
                                Submit
                            </span>
                            <span data-ng-show="isLoading">
                                Working on
                                <i class="fa fa-spinner fa-spin"></i>
                            </span>
                        </button>
                    </div>
                    <h1 ng-if="success && !showForm" style="color: darkgreen> "> {{result.data.message}}</h1>
                    <h1 ng-if="!success && !showForm && result.data.message" style="color: crimson> "> {{result.data.message}}</h1>
                    <h1 ng-if="!success && !showForm" style="color: crimson> ">Sorry! Something went wrong, couldn't reset your password, please try again. </h1>
                <% } %>
            </div>
            <!-- data container to ocupy space -->
            <div class="container"></div>
            <!-- footer container -->
            <div class="container">
                <hr>
                <footer class='footer'>
                    <p>&copy; Placecus.com</p>
                </footer>
            </div>
        </body>

    </html>
